*{
	margin: 0px;
	font-family: sans-serif;
	line-height: 2.2;
}

#tableContainer {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#tableRow {
	display: table-row;
}

#tableRow1 {
	display: table-cell;
	width: 30%;
	padding-top: 30px;
	background-color: #6495ED;
	font-size: 20px;
	text-align: center;
	color: #fff;
	vertical-align: top;
}

#content {
	margin-left: 30px;
}

#tableRow2,
#tableRow3,
#tableRow4,
#tableRow5,
#tableRow6,
 {
	display: table-cell;
	width: 70%;
	vertical-align: top;
}

span.before {
	font-size: 17px;
	font-weight: 540;
}

span a{
	color: blue;
}
